
backend/dataModels/models/avocado.pkl
backend/dataModels/models/heart.pkl
backend/dataModels/models/reclutamiento.pkl
backend/dataModels/models/stroke.pkl
backend/dataModels/models/wine.pkl
backend/dataModels/__pycache__/
